<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webadmin</title>

    <link rel="stylesheet" type="text/css" href="{{ static_url('DataTables/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/my.css') }}">
  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">抓取</a></li>
        <li><a href="/purchase">购买</a></li>
        <li class="active"><a href="/acct">帐号</a></li>
        <li><a href="/black">黑名单</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <table id="dt_account" class="display table table-hover nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>UID</th>
                <th>Device Id</th>
                <th>Version</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>UID</th>
                <th>Device Id</th>
                <th>Version</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
<script src="{{ static_url('DataTables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/account.js') }}"></script>
