<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webadmin</title>

    <link rel="stylesheet" type="text/css" href="{{ static_url('DataTables/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/my.css') }}">
  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">抓取</a></li>
        <li class="active"><a href="/purchase">购买</a></li>
        <li><a href="/acct">帐号</a></li>
        <li><a href="/black">黑名单</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout <i class="glyphicon glyphicon-log-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#ready" role="tab" data-toggle="tab">待购</a></li>
    <li role="presentation"><a href="#download" id='download_tab' role="tab" data-toggle="tab">入库</a></li>
    <li role="presentation"><a href="#paid" id='paid_tab' role="tab" data-toggle="tab">已购买</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ready">
      <table id="main_table_ready" class="table table-hover" width="100%" display="">
        <thead>
          <tr>
            <th>ID</th>
            <th>价格</th>
            <th>入队时间</th>
          </tr>
        </thead>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="download">
      <table id="main_table_download" class="table table-hover" width="100%" display="">
        <thead>
          <tr>
            <th>ID</th>
            <th>账号</th>
            <th>开始时间</th>
            <th>状态</th>
          </tr>
        </thead>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="paid">
      <table id="main_table_paid" class="table table-hover nowrap" width="100%" display="">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>账号</th>
            <th>价格</th>
            <th>入库时间</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<script src="{{ static_url('DataTables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/my.js') }}"></script>
</body>
</html>
